/** Colors:
 *  #5A7684 - Cadet
 * 	#90FCF9 - Electric Blue
 * 	#011627 - Rich Black FOGRA 29
 * 	#D5C5C8 - Black Shadows
 */
 	:root {
 		--grid-bg: #5A7684;
 		--slider-button:  #90FCF9;
 		--grid-square: #011627;
 		--main-bg: #D5C5C8;
 	}
/**
 * Generic
 */
 	h1 {
 		text-align:  center;
 		;
 	}

 	body {
 		background-color: var(--main-bg);
 		font-family: "Monaco", monospace
 	}

/**
 * Grid Container
 */
	.container {
		margin-left:  auto;
		margin-right: auto;
		display: grid; 
		gap: 0px; 
		width: 650px; height: 650px; 
		padding: 25px;
		grid-template-columns: repeat(16, 1fr);
	 	grid-template-rows: repeat(16, 1fr);
		margin-top: 2vw;
		background-color:  var(--grid-bg);
		border-radius:  4%;
	}

/**
 * Grid Item
 */
	.grid-square {
		background-color: var(--grid-bg);
		 border: 1px solid black;
	}

/**
 * Buttons
 */
	.buttons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: 25%;
		margin-left: 40%;

	}
	button {
		height: 20px;
		width: 50px;
		margin: auto;
		font-family: "Monaco", monospace;

	}

/*Slider*/
	.slideContainer {
		display:  block;
		margin-left: auto;
		margin-right: auto;
		margin-top:  2vh;

	}
	input[type='range'] {
		display: block;
		margin: 1vh auto;
		-webkit-appearance: none;
		width: 700px;
		background: var(--grid-bg);
	}

	input[type='range']:focus {
		outline:  none;
	}
	/**
	 * Browser Specific Tracks
	 */
		input[type='range']::-webkit-slider-runnable-track {
			background:  	var(--grid-bg);
			border-radius:  10px;
			
		}

		input[type='range']::-moz-range-track{


		}

	/**
	 * Browser Specific Thumbs
	 */
		input[type='range']::-webkit-slider-thumb {
			-webkit-appearance: none;
			width:  15px;
			height: 15px;
			background:  var(--slider-button);
			border-radius:  60%;
		}

		input[type='range']::-moz-range-thumb {

		}
/**
 * Text input
 */
 	input[type="text"] {
 		width: 50px;
 		margin-left: 50%;
 		text-align: center;
 		font-family: "Monaco", monospace;
 	}


 /**
  * Animations
  */
  	@keyframes colorSquare {
  	from {background-color: var(--grid-bg);}
	to {background-color: var(--grid-square);}
  	}
  	  	@keyframes clearGrid {
  	from {background-color: var(--grid-square);}
	to {background-color: var(--grid-bg);}
  	}