/** Colors:
 *  #5A7684 - Cadet
 * 	#90FCF9 - Electric Blue
 * 	#011627 - Rich Black FOGRA 29
 * 	#D5C5C8 - Black Shadows
 */
 	:root {
 		--grid-bg: #004a5e;
 		--slider-button:  #476072;
 		--grid-square: #548CA8;
 		--main-bg: #334257;
 		--grid-edge: #93b7be;
 	}
/**
 * Generic
 */
 	h1 {
 		text-align:  center;
 		color: 	#C5F5FF;
 		;
 	}

 	body {
 		background-color: var(--main-bg);
 		font-family: "Monaco", monospace
 	}

/**
 * Grid Container
 */
	.container {
		margin-left:  auto;
		margin-right: auto;
		display: grid; 
		gap: 0px; 
		width: 650px; height: 650px; 
		padding: 25px;
		grid-template-columns: repeat(16, 1fr);
	 	grid-template-rows: repeat(16, 1fr);
		margin-top: 2vw;
		background-color:  var(--grid-edge);
		border-radius:  4%;
		box-shadow:  10px 10px 20px 10px #021017, 2px 2px 10px inset #F0FCFF, -2px -2px 10px inset black;
	}

/**
 * Grid Item
 */
	.grid-square {
		background-color: var(--grid-bg);
		transition:  background-color linear .2s;
	}
	.borders {
		border: 1px solid black;
	}

/**
 * Buttons
 */
	.buttons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: 25%;
		margin: 1vh auto;

	}
	button {
		height: 20px;
		width: 70px;
		margin: auto 1vw;
		font-family: "Monaco", monospace;
		background-color: var(--grid-edge);
 		border-radius: 10px;
 		box-shadow: 2px 2px 5px  #021017;

	}

/*Slider*/
	.slideContainer {
		display:  block;
		margin-left: auto;
		margin-right: auto;
		margin-top:  2vh;

	}
	input[type='range'] {
		display: block;
		margin: 1vh auto;
		-webkit-appearance: none;
		width: 700px;
		background: var(--grid-bg);
	}

	input[type='range']:focus {
		outline:  none;
	}
	/**
	 * Browser Specific Tracks
	 */
		input[type='range']::-webkit-slider-runnable-track {
			background:  	var(--grid-edge);
			border-radius:  10px;
			height:  15px;
			border: 1px solid black;
			box-shadow:	inset 2px 2px 2px #C5F5FF, inset -2px -2px 2px black, -2px 2px 10px  #021017;
			
		}

		input[type='range']::-moz-range-track{
			background:  	var(--grid-edge);
			border-radius:  10px;
			height:  15px;
			border: 1px solid black;
			box-shadow:	inset 2px 2px 2px #C5F5FF, inset -2px -2px 2px black, -2px 2px 10px  #021017;
		}

		input[type='range']::-ms-track {
			background:  transparent;
			border-color:  transparent;
			color: transparent;
		}

	/**
	 * Browser Specific Thumbs
	 */
		input[type='range']::-webkit-slider-thumb {
			-webkit-appearance: none;
			width:  30px;
			height: 30px;
			background:  var(--grid-edge);
			border:  5px outset var(--slider-button);
			border-radius:  60%;
			margin-top:  -9px;
		}

		input[type='range']::-moz-range-thumb {					
			width:  30px;
			height: 30px;
			background:  var(--grid-edge);
			border:  5px outset var(--slider-button);
			border-radius:  60%;
			margin-top:  -9px;
		}
/**
 * Text Container
 */
 	.textContainer {
 		display: block;
 		margin:  1vh auto;
 		width: 100px;
 	}
/**
 * Text Input
 */
 	input[type="text"] {
 		width: 50px;
 		display: block;
 		margin: 1vh auto;
 		text-align: center;
 		font-family: "Monaco", monospace;
 		background-color:  #C5F5FF;
 		border-radius: 10px; 
 		box-shadow: 2px 2px 5px  #021017;
 	}


 /**
  * Animations
  */
  	@keyframes colorSquare {
  	from {background-color: var(--grid-bg);}
	to {background-color: var(--grid-square);}
  	}
  	  	@keyframes clearGrid {
  	from {background-color: var(--grid-square);}
	to {background-color: var(--grid-bg);}
  	}

